:root{
    --navbarBg: #262626;
    --orange: #DC7633;
    --boxShadow: 0px 0px 15px grey;
    --white: white;
    --bggray: #DADADA;
    --textColor: #262626;
}

body{
    background: var(--white);
    overflow-x: hidden;
    padding-top: 200px;
    min-height: 100vh;
}

#footer{
    background-color: var(--navbarBg);
    color: white;
    padding: 25px;
    border-top: 2px solid var(--orange);
    margin-top: 50px;
    position: relative;
	bottom: 0px;
}

#navbar{
    background-color: var(--navbarBg);
    margin-bottom: 50px;
    border-bottom: 2px solid var(--orange);
    height: 76px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.navspan{
    display: grid;
    place-items: center;
    transition: 0.4s;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.navspan.active a{
    color: var(--orange);
}

a.nav{
    color: white;
    transition: 0.4s;
    height: auto;
    padding: 15px;
    border-radius: 5px;
}

a{
    transition: 0.4s;
}

a:hover{
    color: var(--orange);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}

a.nav
{
    position: relative;
}

a.nav:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.nav:hover:before {
    visibility: visible;
    width: 100%;
  }

a.nav:hover{
    color: var(--orange) !important;
    text-decoration: none;
}

#panier{
    position: absolute;
    right: 0px;
}

.divider{
    height: 2px;
    width: 100px;
    background-color: var(--orange);
    margin: 30px;
}

.smallDivider{
    height: 2px;
    width: 50px;
    background-color: var(--orange);
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.livre{
    width: 200px;
    height: 510px;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    margin-top: 25px !important;
    margin: auto;
    background: var(--white);
    padding: 10px;
    text-align: center;
    overflow: hidden;
    border: 2px solid var(--white);
    transition: 0.4s;
}

.livre small{
    text-align: justify;
}
.livre:hover{
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid var(--orange);
}

.titreLivre{
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}

.imgLivre{
    height: 220px;
    margin: auto !important;
}

#itemPanier{
    box-shadow: var(--boxShadow);
    width: 100%;
    text-align: center;
    padding: 50px 5px 35px 5px;
}

#panierContainer{
    margin-bottom: 50px;
}

.valider{
    color: var(--textColor);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    padding: 15px;
    transition: 0.4s;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.valider:hover{
    background-color: var(--white);
    border: 1px solid var(--orange);
    text-decoration: none;
    color: var(--textColor);;
}

.articlePanier{
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--white);
}

.articlePanier p{
    margin: 10px;
}

#containerValider{
    text-align: right !important;
    margin: 55px;
}

.hover{
    position: relative;
}

a.hover:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

#login{
    position: absolute;
    right: 70px;
}

input{
    outline: none;
    border: 1px solid var(--orange);
    width: 90%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input.valider{
    width: auto;
}

input:focus{
    border: 1px solid var(--navbarBg);
}

.box{
    box-shadow: var(--boxShadow);
    width: 100%;
    text-align: center;
    padding: 15px;
}

#footer h3{
    color: var(--orange)
}

.footernav{
    padding: 0px; 
    margin: 0px; 
    text-align: left;
}

.footerNavA{
    margin: 5px !important;
    padding: 5px !important;
}

#nom{
    color: white;
}

#footer p, a{
    color: white !important;
}

#footer a:hover{
    color: var(--orange) !important;
}

.erreur{
    position:absolute;
    top: 100px;
    padding: 10px;
    box-shadow: 0px 0px 15px var(--navbarBg);
    background: #FADBD8;
    max-width: 350px;
    margin: 15px;
    border: 1px solid #E74C3C;
    color: black;
}

.success{
    padding: 10px;
    box-shadow: 0px 0px 15px var(--navbarBg);
    background: #58D68D;
    max-width: 350px;
    margin: 15px;
    border: 1px solid #1E8449;
    color: white;
}

#connected{
    position: absolute;
    right: 80px;
    padding: 15px;
    color: white;
}

#connected a{
    color: var(--orange) !important;
}

p, h1, h2, a{
    color: var(--textColor);
}

#connected p{
    margin: 0px;
}

#connected a{
    transition: 0.4s;
    color: var(--orange);
}

#connected a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.bg-gray{
    background-color: var(--bggray);
    padding: 25px;
}

input[type='checkbox']{
    margin: 5px;
}

input[type="file"]{
    margin: auto;
}

div{
    color: var(--textColor);
}

.group-span-filestyle{
    margin: auto;
    background: var(--navbarBg);
}

.popover{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 600px;
    background: var(--white);
}

.articlePanier input{
    margin: 0px;
    padding: 0px;
    border: 1px solid var(--bggray);
    padding-left: 5px;
    width: 35px;
}

.articlePanier label{
    font-size: 14px;
}

#itemPanier:last-child .articlePanier{
    margin-bottom: 0px;
}

.searchBar{
    width: 460px;
    position: relative;
    top: 0px;
    padding: 0px;
}

#search{
    margin: 0px;
    width: 100%;
    background: var(--white);
}

a.button{
    background-color: var(--navbarBg);
    color: var(--orange);
    padding: 8px 15px 8px 15px;   
    transition: 0.4s;
    position: relative;
    top: 7px;
}

a.button:hover{
    color: var(--textColor);;
    background-color: var(--orange);
    cursor: pointer;
    opacity: 1 !important;
}

.livre.hidden{
    display: none !important;
}

@media (max-width: 575px){
    #navbar{
        height: 152px;
    }
}

.loadingBar{
    height: 20px;
    border-radius: 25px;
    background: var(--white);
    margin-right: -5px;
    transform: translateY(15px);
}

.loadingBar > .etape{
    border-radius: 25px;
    height: 30px;
    width: 30px !important;
    background: var(--white);
    z-index: 2;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    border: 2px solid var(--navbarBg);
}
.loadingBar > .etape:hover{
    cursor: help;
}

.loadingBar > .bar{
    height: 20px;
    border-radius: 25px;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0px;
    background: url('../img/progressBar.png');
    background-position: left;
    background-repeat: repeat;
    animation: 4s roll infinite;
}

.suiviAchat{
    padding: 20px 10px 20px 10px;
    background: var(--bggray);
}

.suiviAchat:hover{
    filter: brightness(0.85);
}

.orange{
    color: var(--orange) !important;
}

.closeInfos{
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--textColor);;
    font-size: 2em;
}

#infoPopup a{
    color: var(--textColor) !important;
}

#infoPopup a:hover{
    color: var(--orange) !important;
}

@keyframes roll{
    0%{
        background-position: 0%; 
    }
    15%{
        background-position: 25%;
    }
    60%{
        background-position: 75%;
    }
    100%{
        background-position: 100%;
    }
}